/******************************************************
 * ██   ██ ███████  █████  ██████  ███████ ██████  *
 * ██   ██ ██      ██   ██ ██   ██ ██      ██   ██ *
 * ███████ █████   ███████ ██   ██ █████   ██████  *
 * ██   ██ ██      ██   ██ ██   ██ ██      ██   ██ *
 * ██   ██ ███████ ██   ██ ██████  ███████ ██   ██ *
 ******************************************************/
header {
    display: flex;/*mets cote à cote son contenu*/
    justify-content: space-between;/*ecarte son contenu*/
    height: 79px;/*force la hauteur*/
    align-items: center;/*centre verticalement*/
}

    img {/*LOGO BOOKI*/
        height: 19px;/*force sa hauteur*/
    }

    .BOITE-DES-LIENS {/*BOITE DE LIENS*/
        display: flex;/*mets les liens cote à cote*/
        align-self: flex-start;/*colle les liens en haut de header*/
        gap: 68px;/*ecarte son contenu*/
    }

        .BOITE-DES-LIENS a {/*LIENS*/
            padding-top: 14px;/*espace haut au dessus des liens*/            
        }

        .BOITE-DES-LIENS a:hover {/*LIENS - SURVOL*/
            border-top: 2px solid blue;
            padding-top: 14px;            
        }

 /***********************************************************
 * ███    ███  █████  ██ ███    ██ *
 * ████  ████ ██   ██ ██ ████   ██ *
 * ██ ████ ██ ███████ ██ ██ ██  ██ *
 * ██  ██  ██ ██   ██ ██ ██  ██ ██ *
 * ██      ██ ██   ██ ██ ██   ████ *
 ***********************************************************/
main {
}


                                                            /*████████████████████████*/
                                                            /***RECHERCHE & FILTRES****/
                                                            /*████████████████████████*/
    main .RECHERCHE-ET-FILTRES {/*titres de recherche & filtres*/
        margin-top: 30px;/*marge exterieure en haut*/
    }
        main h1 {/*<h1>Trouvez votre hébergement ...</h1>*/
            margin: 0;/*annule la marge par defaut des h1*/
        }
        main p {/*<p>En plein centre- ...</p>*/
            margin: 0;/*annule la marge par defaut des p*/
            margin-top: 8px;/*impose le marge haute*/
        }
        
        


/******/form {/***********FORMULAIRE***********/
            display: flex;/*active flexbox - par defaut horizontal*/
            height: 49px;/*impose sa hauteur - car ses enfants se "stretchent" par defaut*/
            width: 377px;/*force la largeur*/
            margin-top: 35px;
        }

            .BOITE-ICONE {/*boite de l'icone*/
                width: 50px;/*impose la largeur*/
                display: flex;/*active flexbox pour pouvoir centrer le logo*/
                align-items: center;/*centre le logo verticalement*/
                justify-content: center;/*centre le logo horizontalement*/
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
                background-color: var(--main-bg-color);
            }

                .BOITE-ICONE i {/*icone*/
                    color: black;
                }

            #ville {/*ville - case à remplir*/
                width: 147px;/*force la largeur*/
                padding-left: 24px;
                border: none;
            }

            form button {/*bouton*/
                border-top-right-radius: 15px;/*arrondi*/
                border-bottom-right-radius: 15px;/*arrondi*/
                background-color: var(--main-color);
                color: var(--filter-bg-color);
                flex: 1;/*prend la largeur qui reste dans "form"*/
                border: none;
            }


/******/.FILTRES {/***********FILTRES***********/
            margin-top: 30px;
            display: flex;/*obligé d'activer flexbox*/
            align-items: center;/*et de centrer verticalement*/
            gap: 15px;/*pour pouvoir utiliser gap*/
            flex-wrap: wrap;/*et obligé de laisser aller a la ligne*/
        }

            .FILTRES button {
                height: 50px;
                border: solid 2px rgba(217, 217, 217, 1);
                border-radius: 25px;
                background-color: white;
                padding: 0 19px;
            }

                .FILTRES i {
                }

        .INFOBAR {
            display: flex;/*mets "i" et "plus de 500 ..." cote à cote*/
            gap: 17px;/*ecarte un peu les 2*/
            margin-top: 35px;
        }

           .INFOBAR i {
                border: solid rgba(217, 217, 217, 1);
                height: 15px;
                width: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                font-size: 12px;
           }
           
                                                            /*█████████████████████████*/
                                                            /*HEBERGEMENTS & POPULAIRES*/
                                                            /*█████████████████████████*/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    gap: 40px;
}

/************************************HEBERGEMENTS**************************************/
.hebergements {/*occupe 65% de la largeur de son parent*/
    width: 65%;
}

    .hebergements-title {        
    }
        .section-title {
            margin: 0;/*Obligé de bloquer la marge car "feuille de style user-agent" ????*/
        }



    .hebergements-cards {/*ENSEMBLE DE CARTES*/
        display: flex;/*aligne horizontalement*/
        justify-content: space-between;/*adapte les cartes au bloc gris -
        - sans lui les cartes ne suivent pas l'étirement du bloc gris*/
        flex-wrap: wrap;/* autorise le retour à la ligne */
        gap: 20px;/*ecartement entre les lignes*/
        padding-top: 30px;
    }

        .hebergements-cards a {/*LIENS*/
            width: calc((100% - 40px) / 3); /* 3 cartes par ligne */
        }
            .hebergements-cards .card {/*CARTE (contenu : image, titre, prix et etoiles)*/
                display: flex;
                flex-direction: column;
                height: 100%;

                box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);                    
            }
                .hebergements-cards img {
                    width: 100%;/*l'image prends la taille de son contenant*/
                    height: 125px;/*j'impose la hauteur*/
                    border-top-left-radius: 16px;
                    border-top-right-radius: 16px;
                }

                .hebergements-cards .card-content {/*étiquette*/                 
                }
                    .hebergements-cards .card-txt {
                    }
                        .hebergements-cards .card-title {
                            margin-top: 10px;
                            margin-bottom: 4px;
                        }

                        .hebergements-cards .card-subtitle {
                            margin: 0;
                            font-size: 14px;/*impose la taille du texte*/
                        }
                    .hebergements-cards .card-rating {                        
                    }
                        .hebergements-cards i {                            
                        }

/*************************************POPULAIRES***************************************/
.populaires {
    width: 32%;
}
    .populaires-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        .section-title {
            margin: 0;/*Obligé de bloquer la marge car "feuille de style user-agent" ????*/
        }

    .populaires-cards {
    }
        .populaires-cards a {            
        }
            .populaires-cards .card {
                display: flex;
                margin-top: 33px;
            }
                .populaires-cards img {
                    width: 33%;
                    height: 136px;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                }
                .populaires-cards .card-content {
                    width: 67%;
                    padding-left: 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    box-sizing: border-box;
                }
                    .populaires-cards .card-txt {
                    }
                        .populaires-cards .card-title {
                            margin-top: 10px;
                            margin-bottom: 4px;
                        }
                        .populaires-cards .card-subtitle {
                            margin: 0;
                        }
                    .populaires-cards .card-rating {
                        margin-bottom: 5px;
                    }
                        .populaires-cards i {

                        }
                        
                        
                                                            /*████████████████████████*/
                                                            /**ACTIVITES A MARSEILLE***/
                                                            /*████████████████████████*/
.activites {
    padding: 30px;
}
    .activites-title {
    }

    .activites-cards {
        display: flex;/*mets les cartes cote à cote*/
        padding-top: 30px;
        gap: 20px;
    }
        .activites a {
            flex: 1;/*pour que chaque lien de carte prenne exactement un quart de l'espace disponible*/
                    /* Comme il y a 4 <a>, chacun prend 1/4*/
                    /*flex: 1 ne fonctionne que sur les enfants directs d'un conteneur qui a display: flex*/
        }
            .activites article {
                padding: 0;
                height: 100%;/* prend la hauteur du parent */
                box-sizing: border-box; /* Le padding est inclus dans la largeur totale */
            }
                .activites img {/* image */
                    height: 380px;   /* impose la hauteur de l'image */
                    width: 100%;     /* l'image prend toute la largeur de sa carte */
                    object-fit: cover; /* elle remplit l'espace sans se déformer */
                    border-top-left-radius: 25px;
                    border-top-right-radius: 25px;
                }












 /***************************************************************************
 * ███████  ██████   ██████  ████████ ███████ ██████  *
 * ██      ██    ██ ██    ██    ██    ██      ██   ██ *
 * █████   ██    ██ ██    ██    ██    █████   ██████  *
 * ██      ██    ██ ██    ██    ██    ██      ██   ██ *
 * ██       ██████   ██████     ██    ███████ ██   ██ *
 ***************************************************************************/
footer {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-between;
}
    footer div {
        margin: 30px 20px 30px 60px;
    }
        ul {

            padding: 0;/*annule le padding par defaut*/
            margin: 0;/*annule la marge par defaut*/
            list-style-type: none;
        }


























































/************************************************BASE DE CODE OPENCLASSROOMS******************************/
/******************************Toutes les lignes passées en commentaires ont été copiées plus haut********/
/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
/* .hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
} */

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
/* .hebergements {
    width: 65%;
} */

/****** Populaires ***********/
/* .populaires {
    width: 32%;
} */

/* .populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* .populaires-cards .card {
    display: flex;
    margin-top: 33px;
} */

/* .populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
} */

/* .populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
} */

/* .populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
} */

/* .populaires-cards .card-subtitle {
    margin: 0;
} */

/* .populaires-cards .card-rating {
    margin-bottom: 5px;
} */




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}